---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: white;
  font: 16px/1.4 $body-font;
  color: $darkGray;
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $darkerGray;
  font-weight: normal;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 40px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 24px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

figure {
  text-align: center;
  margin: 10px;
  &.right {
    float: right;
    margin-right: 0;
  }
  &.left {
    float: left;
    margin-left: 0;
  }
  figcaption {
    font-size: 85%;
  }
}

.center {
  text-align: center;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  font-family: 'Solveig';
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  text-align: center;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: 'Solveig Display';
  font-size: 80px;
  letter-spacing: 1px;
  line-height: 1;
}

.site-name,
.site-description,
.blank-line,
.masthead nav {
  margin: 0 auto;
  border-bottom: 2px solid lightblue;
  text-align: center;
}

.site-description {
  color: $gray;
  font-style: italic;
}
.site-description,
.blank-line,
.masthead nav {
  font-size: 24px;
  line-height: 24px;
}

.masthead nav {
  font-family: $body-font;

  a {
    font-size: 18px;
    color: $darkGray;
    font-weight: 300;
    letter-spacing: 1px;
  }
  a + a {
    &:before {
      content: ' · ';
    }
  }
}

//
// #main
//

main {
  flex: 1;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.one-third {
  width: 32%;
  min-width: 200px;
  margin: 0 .6%;
  display: inline-block;
  float: left;
  @include mobile {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 30px;
    margin-bottom: 30px;
    img {
      width: 350px;
      }
  }
}

.wrapper-footer {
  clear: both;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  color: $gray;
  font-size: 85%;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
